/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

body {
  text-align: center;
  font: 1rem 'anime_aceregular', sans-serif;
  align-items: center;
}
ol,ul {
 text-align: left;
 max-width: 60rem;
 align-items: center;
}
.container {
  text-align: center;
  align-items: center;
}
.container.list {
  align-items: center;
  text-align: center;
}